/* Navbar Transition */
#mainNav {
    transition: background-color 0.5s ease;
}

#mainNav.navbar-scrolled {
    background-color: #222831;
}

/* //////////////// */

.hero {
    position: relative;
    text-align: center;
}

.hero-img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    top: 40%;
    /* left: 50%; */
    width: 100%;
    color: white;
}

.hero-text>p {
    font-size: 60px;
    /* font-weight: bold; */
    font-family: 'Dancing Script', cursive;
}

.story-section {
    margin-top: 100px;
}

.story {
    margin: auto;
    max-width: 600px;
    width: 90%;
}

/* .line{
    background-color: #FFBE33;
    height: 3px;
    width: 145px;
    margin-top: 15px;
} */

.story>h2 {
    /* color: white; */
    text-decoration: underline;
    text-underline-offset: 13px;
    text-decoration-color: #FFBE33;
    /* text-decoration-thickness: 1px; */
}

.story>p {
    /* color: white; */
    margin-top: 30px;
}

.story>img {
    width: 100%;
    margin-top: 20px
}

.owner-section {
    max-width: 1200px;
    width: 90%;
    margin: auto;
    margin-top: 150px;
}

.owner-container {
    display: flex;
    gap: 30px;
    align-items: center;
    flex-direction: row-reverse;
}

.img-container {
    flex: 1;
}

.owner-container img {
    width: 100%;
    height: auto;
    display: block;
}

.owner-info {
    /* width: 200px; */
    flex: 1;
    text-align: center;
}

.owner-info>h2 {
    /* color: white; */
    text-decoration: underline;
    text-underline-offset: 13px;
    text-decoration-color: #FFBE33;
}

.owner-info p {
    /* color: white; */
    margin-top: 30px;
}

/* //////////////// */

.chef-section {
    max-width: 1200px;
    width: 90%;
    margin: auto;
    margin-top: 150px;
}

.chef-container {
    display: flex;
    gap: 30px;
    align-items: center;
    /* flex-direction: row-reverse; */
}

/* .img-container {
    flex: 1;
} */

.chef-container img {
    width: 100%;
    height: auto;
    display: block;
}

.chef-info {
    /* width: 200px; */
    flex: 1;
    text-align: center;
}

.chef-info>h2 {
    /* color: white; */
    text-decoration: underline;
    text-underline-offset: 13px;
    text-decoration-color: #FFBE33;
}

.chef-info p {
    /* color: white; */
    margin-top: 30px;
}

/* /////////////// */


.team-section {
    max-width: 1200px;
    width: 90%;
    margin: auto;
    margin-top: 150px;
}

/* .team-container {
    width: 100%;
} */

.team-info {
    /* width: 200px; */
    /* flex: 1; */
    text-align: center;
}

.team-info>h2 {
    /* color: white; */
    text-decoration: underline;
    text-underline-offset: 13px;
    text-decoration-color: #FFBE33;
}

.team-info p {
    /* color: white; */
    margin-top: 30px;
}

.team-vid {
    /* margin: auto; */
    /* align-items: center; */
    text-align: center;
}

.team-vid>video {
    width: 100%;
    max-width: 700px;
    height: auto;
}

@media (max-width: 768px) {
    
    .owner-container {
        flex-direction: column;
        text-align: center;
    }
    
    .chef-container {
        flex-direction: column;
        text-align: center;
    }
}